accelerate==1.8.1
colorama==0.4.6
datasets==3.6.0
einops==0.8.1
flash-attn>=2.7.0,<3.0.0
google-genai>=1.0.0,<2.0.0
numpy==2.2.5
openai==1.93.0
opencv-python-headless>=4.10.0,<5.0.0
Pillow==11.2.1
PyYAML==6.0.2
sentencepiece==0.2.0
timm>=1.0.0,<2.0.0
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
transformers==4.49.0
vllm==0.9.1
